<header>
  <div class="container">
    <div class="logo">
      <a routerLink="/"><img src="assets/images/MG_icon.png"/></a>
    </div>
    <nav class="nav-section">
      <ul>
        <li [class]="isActive('/')"><a routerLink="/">Home</a></li>
        <li [class]="isActive('/projects')"><a routerLink="/projects">Projects</a></li>
        <li [class]="isActive('/skills')"><a routerLink="/skills">Skills</a></li>
        <!-- <li><a routerLink="/resume">Resume</a></li> -->
        <li [class]="isActive('/contact')"><a routerLink="/contact">Contact</a></li>
        <li><a href="assets/pdfs/Resume.pdf" download="Madhukar_Gurram_Resume.pdf" class="resume-button">Resume</a></li>
      </ul>
    </nav>
  </div>
  </header>
  